<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#99a73a">
    <meta name="cmsmagazine" content="918c8f14e47036201c9ff316c734e22f">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <title>ROVBET™ - AI Betting</title>
    <link rel="icon" type="image/png" href="./Rov_files/favicon.png">
    <link href="./Rov_files/style.css" type="text/css" data-template-style="true" rel="stylesheet">
    <!--------<link href="./css/uikit.min.css" type="text/css" data-template-style="true" rel="stylesheet">--->
    <!--------<script src="./js/uikit.min.js"></script>--->
</head>

<body class="bg-gray main-page is-ready" style="margin-bottom: 0px; padding-right: 0px;">
    <div id="preloader" class="preloader" style="display: none;">
        <div class="preloader__img"></div>
    </div>

    <div class="wrapper" style="min-height: 100vh;">
        <section class="bg-blue js-alerts" style="display: none;">
            <div class="bg-dark alerts-section">
                <div class="i-close i-close--w js-alert-close" data-js="close-alerts"></div>
                <div class="container">
                    <div class="swiper-container js-alerts-slider swiper-container-fade swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 300ms;">
                            <div data-hermitage-link="" class="swiper-slide swiper-slide-active" style="width: 1140px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <header class="header bg-blue">
            <div class="header-inner" style="padding-right: 0px;">
                <div class="container">
                    <div class="header-row">
                        <div class="header-col header-col--first header-col--closed">
                            <a class="hdr-link hdr-link-tab  is-active " id='titre'>RovBet - AI powered soccer ⚽</a>
                        </div>
                        <div class="header-col ml-auto fx-ai-center--xs">
                            <span id="confidence" class="hdr-link hdr-link-tab  is-active">Today's confidence : 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="section-intro bg-blue">
            <div class="container">
                <div class="intro-page js-intro-page up-get">
                    <div class="intro-page__svx intro-page__svx--source">
                        <div class="js-per-rotate svx-per-rotate" style="transform: perspective(1000px) rotateX(0deg);">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1260 376" width="1260" height="376">
								<path
									d="M379.5 220.9v-1c36.2-18.3 54.5-60.7 54.5-99.5 0-53.1-26-90.2-67.2-106.1C351 8.2 333.2 5.6 296 5.6H169.2v364.7h89.1V247.4h41.8l64.7 122.9h99.3l-70.8-127.5c-8.7-15.2-13.8-21.9-13.8-21.9zm-82.5-50h-38.7V82.1h30c14.8 0 25.5 1.5 33.6 5.1 16.8 6.6 21.4 20.4 21.4 38.8.1 29.1-17.8 44.9-46.3 44.9z">
								</path>
								<path
									d="M630.1-.5C517-.5 439.6 81.1 439.6 185.7c0 107.2 77.4 190.8 190.5 190.8s190.5-83.6 190.5-190.8C820.6 81.1 743.1-.5 630.1-.5zm0 295.4c-57.6 0-98.3-47-98.3-109.2 0-59.7 40.7-104.6 98.3-104.6s98.3 44.9 98.3 104.6c0 62.2-40.8 109.2-98.3 109.2zM1041.6 5.6l-65.2 207.6c-7.1 22.9-13.8 58.7-13.8 58.7h-1s-6.6-35.8-13.8-58.7L883.7 5.6h-96.8l128.9 364.7h92.7L1136.8 5.6h-95.2z">
								</path>
							</svg> </div>
                    </div>


                    <br><br><br>
                    <div class="intro-page-row">
                        <span class="logo-site" width="350">
							<!---REMPLI PAR LA SUITE-->
						</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-blue pb-8" style="min-height: 50vh;">
            <div class="container" id="matchList">
                <!---REMPLI PAR LA SUITE-->
            </div>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>

            <!----STATISTIQUES-->
            <br>
            <div class="container" id="stats">
                <h1 data-aos="fade-up">Stats</h1>
                <br>
                <p data-aos="fade-up" id="earnings">I won 0€ so far this week.</p>
                <script>
                </script>
                <br><br>
                <p data-aos="fade-up" id="credits">Developed by Alexandre Fournier (2019). <a href="https://github.com/Kompp/rovbet">View source code</a></p>
                <br><br>
            </div>

        </section>

    </div>
    <script type="text/javascript" src="./Rov_files/scroll_logo.js"></script>
    <script>
        //REMPLISSAGE DES TABLES
        var contenu = "<h1 data-aos=\"fade-up\">Today</h1><ul class=\"list-unstyled card-content-list js-fade-up in-viewport\">"
        var matchs = JSON.parse('<%- JSON.stringify(value.matchs) %>')
        var vainqueurs = JSON.parse('<%- JSON.stringify(value.vainqueurs) %>')
        var ligues = JSON.parse('<%- JSON.stringify(value.ligues) %>')
        var prédictions = JSON.parse('<%- JSON.stringify(value.prédictions) %>')
        var états = JSON.parse('<%- JSON.stringify(value.états) %>')
        var moyenne = 0
        var nbMatchs = 0
        var dates = JSON.parse('<%- JSON.stringify(value.dates) %>')

        //Date d'aujourd'hui
        var q = new Date()
        var m = q.getMonth()
        var d = q.getDate()
        var y = q.getFullYear()
        var date = new Date(y, m, d)
        var passageJourSuivant = false

        /* Affichage des matchs */
        for (var result in matchs) {
            //Comparaison des dates
            var matchday = new Date(dates[result])

            if (matchday.getDate() == date.getDate()) {
                //Matchs pour Today
                if (états[result] != null)
                    var élémentTimer = "<p>" + états[result] + "</p>"
                else
                    var élémentTimer = "<img src=\"./Rov_files/attente.png\" height=\"25\">"
                contenu += "<li data-aos=\"fade-up\" id=\"" + result + "\"><a class=\"card-content\"><div class=\"card-content-top\"><div class=\"card-content__title\">" + matchs[result] + "</div><p class=\"subtitle\">" + ligues[result] + "</p></div><div><img src=\"./Rov_files/" + ligues[result] + ".png\" class=\"badge-ligue\"></div><div class=\"card-content-body\"><p class=\"cote\">" + prédictions[result] + "</p><p>🏆 " + vainqueurs[result] + "</p><p>" + dates[result] + "</p><br>" + élémentTimer + "</div></a></li>"
                nbMatchs++
                moyenne += parseInt(prédictions[result].substring(0, 2))
            } else if ((matchday.getDate() == date.getDate() + 1 || matchday.getDate() == 1) && !passageJourSuivant) {
                if (nbMatchs == 0) {
                    document.getElementById("confidence").style.display = "none"
                    contenu += "<p>No interesting matches today !</p>"
                }
                passageJourSuivant = true
                contenu += "</ul><br><h1 data-aos=\"fade-up\">Tomorrow</h1><ul class=\"list-unstyled card-content-list js-fade-up in-viewport\">";
                contenu += "<li data-aos=\"fade-up\" id=\"" + result + "\"><a class=\"card-content\"><div class=\"card-content-top\"><div class=\"card-content__title\">" + matchs[result] + "</div><p class=\"subtitle\">" + ligues[result] + "</p></div><div><img src=\"./Rov_files/" + ligues[result] + ".png\" class=\"badge-ligue\"></div><div class=\"card-content-body\"><p class=\"cote\">" + prédictions[result] + "</p><p>🏆 " + vainqueurs[result] + "</p><p>" + dates[result] + "</p><br><img src=\"./Rov_files/attente.png\" height=\"25\"></div></a></li>"
            } else if (matchday.getDate() == date.getDate() + 1 || matchday.getDate() == 1) {
                contenu += "<li data-aos=\"fade-up\" id=\"" + result + "\"><a class=\"card-content\"><div class=\"card-content-top\"><div class=\"card-content__title\">" + matchs[result] + "</div><p class=\"subtitle\">" + ligues[result] + "</p></div><div><img src=\"./Rov_files/" + ligues[result] + ".png\" class=\"badge-ligue\"></div><div class=\"card-content-body\"><p class=\"cote\">" + prédictions[result] + "</p><p>🏆 " + vainqueurs[result] + "</p><p>" + dates[result] + "</p><br><img src=\"./Rov_files/attente.png\" height=\"25\"></div></a></li>"
            }
        }

        document.getElementById("confidence").textContent = "Today's confidence : " + Math.round(moyenne / nbMatchs) + "% 👌"
        document.getElementById("matchList").innerHTML = contenu + "</ul>"

        var all = [].slice.call(document.getElementsByTagName('li'))
        all.forEach(function(element, index) {
            element.addEventListener("click", function() {
                url = 'http://www.google.com/search?q=' + matchs[element.id];
                window.open(url, '_blank');
            })
        })

        AOS.init();
        AOS.refresh();

        /* Calcul des statistiques */
        var gains = JSON.parse('<%- JSON.stringify(value.gains) %>')
        var nbMatchsSemaine = 0,
            nbVictoires = 0,
            gainsTotaux = 0
        gains.forEach(function(el) {
            if (el != 0) {
                nbMatchsSemaine++
                if (el == 1)
                    nbVictoires++
            }
        })
        if (nbMatchsSemaine != 0)
            gainsTotaux = (1.5 * nbVictoires - nbMatchsSemaine) * 10
        document.getElementById("earnings").innerText = "I'm making around " + gainsTotaux + "€ today so far; I correctly predicted " + nbVictoires + " scores today, that is " + (nbVictoires / nbMatchsSemaine) * 100 + "%  of today's matches."


        /* Affichage du message de blocage s'il n'y a aucun match en cours */
        if (contenu == "<h1 data-aos=\"fade-up\">Today</h1><ul class=\"list-unstyled card-content-list js-fade-up in-viewport\">") {
            document.querySelector("body > div.wrapper > section.bg-blue.pb-8").innerHTML =
                "<div style='width: fit-content; margin: auto; min-height: 100vh;'>We found no interesting football matches today and tomorrow. Sorry ! ⚽</div>"
        }
    </script>
    <script async="" src="./Rov_files/js"></script>

</body>

</html>